:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  place-items: start;
}

main {
  width: 90vmax;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin: 0.5em 0em 0em 0em;
  padding: 0;
}

.card {
  padding: 2em;
}

.discussion {
  background-color: silver;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.5em 0em;
  padding: 0 1em;
}

.discussionForm {
  display: flex;
  flex-direction: row;
}

.discussionInput {
  flex-grow: 1;
  margin: 0 0.5em;
}

.comment {
  background-color: rgb(214 211 209);
  border-radius: 0.2em;
  text-align: start;
  padding: 0.5em;
  margin: 0.3em 0;
}

.commentForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.commentName {
  margin: 0.3em 0.6em 0.6em 0;
}

.commentInput {
  flex: 1;
  margin: 0.3em 0.6em 0.6em 0;
}

.commentButton {
  margin: 0.3em 0 0.6em 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-weight: 300;
  border-radius: 0.5em;
  padding: 0.5rem;
}

p {
  font-size: small;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}